.card {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 5px;
}
.cardTitle {
    text-transform: uppercase;
}

.verButton {
    border: none;
    background-color: #C0E90C;
    color: #435058;
    font-style: normal;
    font-weight: 500;
    border-radius: 50px;
    font-size: 20px;
    padding: 7px;
    transition: 0.3s;
}

.verButton:hover {
    cursor: pointer;
    color: #000000;
    background-color: #C0E90C;
}